%h1 Ruby Tutorials
%p.index
  %ul
    %li
      =link_to 'classes', ruby_path('ruby_class')
    %li
      =link_to 'new hash syntax', ruby_path('new_hash_syntax')
    %li
      =link_to 'parameter scope with blocks', ruby_path('block_param')

