%h4
  Ruby now has a new hash syntax, it is very clean and quick.
%code
  h = { dog: 'canine', cat: 'feline', donkey: 'asinine' }
%br
%br
Instead of
%br
%br
%code
  h = {:dog => 'canine', :cat => 'feline', :donkey => 'asinine'}
