%h1 Rails Tutorials
%p.index
  %ul
    %li
      =link_to 'from zero to app', rails_path('zero_to_app')
    %li
      =link_to 'HAML', rails_path('haml_rails')
    %li
      =link_to 'irb vs rails c', rails_path('irb_vs_railsc')
    %li
      =link_to 'Rails routing review', rails_path('routes')
