%h4
  So what is the difference between the following and when should you use them
%code
  irb
%br
%br
This will open the ruby interpreter and allow you to access direct ruby commands, real time
You would use this for testing a method, practice or checking if a desired section of code executes
correctly
%br
%br
%code
  rails c (script/console in rails 2)
%br
%br
This opens the irb, but with the rails framework backing it.  This will allow you to query your database
and run all methods that are in your application.  Great for debugging and checking info quickly

