%h2
  Your source to learning rails development
  %hr
%div.content.span8.left.long
  %p
    One of the best ways to learn rails and similar technologies is by using them.  Following tutorials is a great way to pick up great concepts and make them stick.
    Throughout this site you will find techniques that I use to develop applications and related technologies.
  %p
    Ruby on Rails is a web application development framework written in the wonderful language know as ruby.  There are serveral languages which are required in order
    to successfully program rails applications.  Some of these include...
    %ul
      %li HTML
      %li Javascript
      %li CSS
    With these there are several libraries that assist in faster, more effective development.  
    %ul
      %li JQuery
      %li HAML
      %li CoffeeScript
      %li Prototype
      %li twitter bootstrap
      %li and many more...
    I will try to touch on all of these technologies throughout this site.  
    Please be patient as more and more content is added.  
    %br
    %br
    %p
      You will see that I use the editor VIM, I strongly suggest others become familiar with this editor.  There is a large learning curve but your development proficiency will
      increase as you learn vim.  There are related tutorials for this editor.
%div.right
  =image_tag 'rails.png', {:style=>'margin-left:50px'}
  %br
  =image_tag 'rubyonrails.png'
