/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html body {
  background-image: url('bo_play_pattern.png');
  color:white;
  font-size:1.2em;
}

.index a {
  font-size:1.4em;
}

ul{
  list-style-type:none;
}

a:active{
  color:white;
}

a:visited{
  color:white;
}

a:link{
  color:white;
}

.content {
  color:grey;
  background-color:white;
  opacity:.8;
  padding:10px;
  border-radius:10px;
}

.content p {
  font-size:1.1em;
  line-height:110%;
}

.content a {
  color:black;
}

.long{
  height:100%;
}

.left{
  float:left;
}

.right{
  float:right;
}
code{
  margin:10px;
}

.code{
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  color: #DD1144;
  padding: 2px 4px;
  white-space: nowrap;
  margin:10px;
  padding:10px;
}
